[data-radix-popper-content-wrapper] {
  z-index: 50 !important;
}

html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0 !important;
  margin-right: 0 !important;
  overflow: auto !important;
}

.icon-wrapper:hover .logout-icon path {
  stroke: #2868E8 !important; /* Or any color you want on hover */
}
