@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

html,
body,
#root {
    min-height: screen;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
    outline: none;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Force light theme on Flowbite Datepicker */
.datepicker {
    background-color: #ffffff !important;
    color: #1f2937 !important;
    /* gray-800 */
    border: 1px solid #d1d5db !important;
    /* gray-300 */
}

.datepicker .datepicker-header,
.datepicker .datepicker-footer {
    background-color: #ffffff !important;
    /* gray-50 */
    color: #1f2937 !important;
}

.datepicker-cell:hover {
    background-color: #f3f4f6 !important;
    /* gray-100 */
}

.datepicker-cell {
    color: #2d3748 !important;
}

.datepicker-cell.selected {
    background-color: #3b82f6 !important;
    /* blue-500 */
    color: #ffffff !important;
}

.datepicker-picker {
    background-color: #ffffff !important;
}

.view-switch {
    background-color: #ffffff;
    color: #2d3748;
    cursor: pointer;
}

.prev-btn {
    background-color: #ffffff;
    color: #2d3748;
    cursor: pointer;
}

.prev-btn>svg {
    color: #2d3748;
}

.next-btn {
    background-color: #ffffff;
    color: #2d3748;
    cursor: pointer;
}

.next-btn>svg {
    color: #2d3748;
}

.focused {
    background-color: #3b82f6 !important;
    color: #ffffff !important;
}

input:focus {
    /* removes the glow effect */
    outline: none !important;
}