@import "tailwindcss";

html,
body,
#root {
    min-height: screen;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    height: 90px;
    width: 100%;
    cursor: pointer;
}

input[type="date"] {
    position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
} 


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}