@import "tailwindcss";

html,
body,
#root {
    min-height: screen;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    height: 90px;
    width: 100%;
    cursor: pointer;
}

input[type="date"] {
    position: relative;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}